h1 {
    color: red;
}
* {
    background-color: aquamarine;
}
nav {
    font-variant: small-caps;
    margin: 30px;
}
div.principale {
    position: absolute;
    top: 160px; z-index:0;
}
nav a {
    margin-right: 30px;
}
header {
    position: fixed;
    height: 150px;
    z-index:1;
    width:100%;
    border: solid 1px;
    margin-top: 0px; margin-bottom :0px;
    padding: 0px;
    text-align: center;
}
footer {
    border-top: solid 1px;
    text-align: center;
}
body{
    margin-top:0px;
}